// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@font-face {
    font-family: RogFont;
    src: url(../assets/font/7032-fontps.ttf);
    font-weight: bold;
}

.RogFont{
    font-family: RogFont;
    font-size: 22px;
    font-weight: bold;
}

body{
    font-family: Roboto, sans-serif !important;
    background-color: #0B365E !important;
    color: white;
}

.button-style-primary{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #0b365e;
    border: 2px solid #F4F4F4;
    color: #F4F4F4;
    border-radius: 0.5rem;
}

.button-style-secondary{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #2b77bf;
    border: 2px solid #F4F4F4;
    color: #F4F4F4;
    border-radius: 0.5rem;
}